# Ignore contents of wave_files but keep the folder
iverilog/wave_files/*
!iverilog/wave_files/.gitkeep

# Ignore contents of sim_files but keep the folder
iverilog/sim_files/*
!iverilog/sim_files/.gitkeep

# Ignore contents of librelane runs but keep the folder
librelane/runs/*
!librelane/runs/.gitkeep

# General EDA and System cleanup
*.vvp
*.log
*.out
iverilog/scripts/*.vvp
iverilog/scripts/*.log

# Python environment
venv/
__pycache__/
.pytest_cache/